In [4]:
import pandas as pd
import hashlib

In [2]:
dataframe = pd.read_csv('rockyou.txt',
                        delimiter = "\n", 
                        header = None, 
                        names = ["Passwords"],
                        encoding = "ISO-8859-1")

In [5]:
dataframe['MD5'] = [hashlib.md5(str.encode(str(i))).hexdigest() 
                    for i in dataframe['Passwords'].fillna(0).astype(str)]

In [10]:
dataframe

              Passwords                               MD5
0                123456  e10adc3949ba59abbe56e057f20f883e
1                 12345  827ccb0eea8a706c4c34a16891f84e7b
2             123456789  25f9e794323b453885f5181f1b624d0b
3              password  5f4dcc3b5aa765d61d8327deb882cf99
4              iloveyou  f25a2fc72690b780b2a14e140ef6a9e0
...                 ...                               ...
14343471       xCvBnM,  03ba1f219ba68ee82f40d60aa6464314
14343472         ie168  16a119be52e6e59567fb8291dafc6879
14343473     abygurl69  7714c591936a5a127a3c1f5904afe2c8
14343474        a6_123  5de99bc1cc92cf5ce1c957561677f1df
14343475  *7Â¡Vamos!  9079715b670617bfa02f8a20dcc7ace7

[14343476 rows x 2 columns]

In [11]:
columnsTitles=["MD5","Passwords"]

dataframe=dataframe.reindex(columns=columnsTitles)

dataframe

                                       MD5      Passwords
0         e10adc3949ba59abbe56e057f20f883e         123456
1         827ccb0eea8a706c4c34a16891f84e7b          12345
2         25f9e794323b453885f5181f1b624d0b      123456789
3         5f4dcc3b5aa765d61d8327deb882cf99       password
4         f25a2fc72690b780b2a14e140ef6a9e0       iloveyou
...                                    ...            ...
14343471  03ba1f219ba68ee82f40d60aa6464314       xCvBnM,
14343472  16a119be52e6e59567fb8291dafc6879         ie168
14343473  7714c591936a5a127a3c1f5904afe2c8     abygurl69
14343474  5de99bc1cc92cf5ce1c957561677f1df        a6_123
14343475  9079715b670617bfa02f8a20dcc7ace7  *7Â¡Vamos!

[14343476 rows x 2 columns]

In [12]:
dataframe.to_csv(r'hashed.txt', header=None, index=None, sep=' ')